 

  header{
    
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    position:absolute;
    top: 0px;

}

   .head1 {
     
    
    margin: 30px;
    margin-top: 55px;

   }

   .head2{
    margin-left: 700px;
    font-size: 20px;
    font-family: 'Barlow';
}

.head2 ul{
    display: flex;
}
.head2 li{
    padding-top: 50px;
    padding-left: 50px;
    list-style: none;
}
.head2 a{
    background-color: white;
    padding: 15px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 15px;
    text-decoration: none;
    color: black;

}
 .p{
    position: absolute;
    top:180px;
    left:500px;
    font-family:'Fraunces';
    font-weight: 700;
    letter-spacing: 4px;
    font-size: 30px;
    color: white;

 }

 .rap{
    position: absolute;
    top:0px;
 }

 .content{
    display: flex;
 }

 .okok{
    display: flex;
 }

 .okokok{
    display: flex;
 }

 .content2{
    display: flex;
 }

 .content3{
    display: flex;
 }

 footer{
    background-color: aquamarine;
 }